* {
  box-sizing: border-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Helvetica Neue",  Arial, sans-serif;
  margin: auto;
}


.container {
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: #fbab40;
  height: 100vh;
  opacity: 0.6;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,1);
}

.img-header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: #fbab40;
  height: 100vh;
  background-image: url(https://evokecity-gh.pages.dev/assets/photographer2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  justify-content: center;
  align-items: center;
}

.header h3 {
  text-align: left;
  color: #f4ebeb;
  font-size: 1vw;
  font-style: normal;
  font-weight: 300;
  margin: 0;
  line-height: 2px;
  padding-top: 1px;
}

.header {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding: 5px;
  font-style: normal;
}


.img-header {
  font-style: normal;
  font-weight: 600;
  font-size: 6vw;
  line-height: 150%;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.mid-header > p {
  font-style: normal;
  font-weight: 400;
  font-size: 4vw;
  line-height: 150%;
  text-align: center;
  flex-grow: 0;
  margin: 16px 0px;
}

@media screen and (max-width: 1024px) {
    .container {
       background-position-y: top;
    }
}

@media screen and (max-width: 600px) {

.container{
    background-position-y: top;
    }
  pre {
    font-size: 0.8rem;
    padding: 8px 12px;
    width: 100%;
  }

  body {
    width: 100vw;
  }

  .header img {
    margin-left: 0;
  }

  .installation-steps {
    width: 100%;
    box-sizing: border-box;
  }

  h1 {
    font-size: 1.6rem;
  }

  ol {
    padding-left: 20px;
  }

  li {
    margin-bottom: 5px;
  }
}
